@font-face {
  font-family: "iconfont"; /* Project id 2754682 */
  src: url('../font/iconfont.woff2') format('woff2'),
       url('../font/iconfont.woff') format('woff'),
       url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e616";
}

.icon-more1:before {
  content: "\e64f";
}

.icon-wo:before {
  content: "\e632";
}

.icon-bijiben:before {
  content: "\e650";
}

.icon-keben:before {
  content: "\e623";
}

.icon-baike1:before {
  content: "\e622";
}

.icon-yuyue:before {
  content: "\e617";
}

.icon-gengduo1:before {
  content: "\e612";
}

.icon-home1:before {
  content: "\e644";
}

.icon-wode2:before {
  content: "\e86d";
}

.icon-people_list:before {
  content: "\e624";
}

.icon-money-bag:before {
  content: "\e6ab";
}

.icon-huangguan:before {
  content: "\e638";
}

.icon-more:before {
  content: "\e60b";
}

.icon-shoucang:before {
  content: "\e629";
}

.icon-gouwuche-xian:before {
  content: "\e621";
}

.icon-gouwuche-mian:before {
  content: "\e611";
}

.icon-jia:before {
  content: "\e67a";
}

.icon-jian:before {
  content: "\e67e";
}

.icon-radio-none:before {
  content: "\e62c";
}

.icon-info:before {
  content: "\e613";
}

.icon-shangshengqushi:before {
  content: "\e60e";
}

.icon-quan:before {
  content: "\e6d1";
}

.icon-rmb:before {
  content: "\e6b7";
}

.icon-sanjiaoxia:before {
  content: "\e605";
}

.icon-sanjiaoshang:before {
  content: "\e607";
}

.icon-sanjiaoyou:before {
  content: "\e608";
}

.icon-sanjiaozuo:before {
  content: "\e609";
}

.icon-laba1:before {
  content: "\e610";
}

.icon-radio-select:before {
  content: "\e6ed";
}

.icon-ertong:before {
  content: "\e62e";
}

.icon-shipu:before {
  content: "\e619";
}

.icon-wenda:before {
  content: "\e722";
}

.icon-laba:before {
  content: "\e63e";
}

.icon-message:before {
  content: "\e604";
}

.icon-renwu:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e60f";
}

.icon-baike:before {
  content: "\e6d0";
}

.icon-shangcheng:before {
  content: "\e606";
}

.icon-canpan:before {
  content: "\e6a3";
}

.icon-gengduo:before {
  content: "\e62d";
}

.icon-gouwu:before {
  content: "\e676";
}

.icon-view:before {
  content: "\e6c1";
}

.icon-weixin:before {
  content: "\e631";
}

.icon-duihua:before {
  content: "\e61e";
}

.icon-right:before {
  content: "\e64d";
}

.icon-qushi:before {
  content: "\e602";
}

.icon-mine:before {
  content: "\e615";
}

.icon-sanjiao-up:before {
  content: "\e603";
}

.icon-duihua2:before {
  content: "\e62b";
}

.icon-home:before {
  content: "\e653";
}

.icon-search:before {
  content: "\e65d";
}

.icon-jiangzhang:before {
  content: "\e6cd";
}

.icon-jiangbei:before {
  content: "\e66c";
}

.icon-left:before {
  content: "\e73b";
}

.icon-duigou:before {
  content: "\e61a";
}

.icon-weibo:before {
  content: "\e601";
}

.icon-suo:before {
  content: "\e73a";
}

.icon-shouji:before {
  content: "\e620";
}

.icon-close:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e614";
}

.icon-hide:before {
  content: "\e6b3";
}

